#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#homePage{
  display: grid;
  grid-template: 

  "header header header"
  "sidebar sidebar sidebar"
  "search search search"
  "main main main"
}

#homeNav{
  grid-area: header
}

#homeSearch{
  grid-area: search;
  
}

#homeContainer{
  grid-area: main
}

#homeAdd{
  grid-area:sidebar
}

#add-album{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#records{
  display: flex;
  flex-wrap: wrap;
}

#albumCard{
  width: 400px;
  height: 400px;
  display: grid;
  grid-template: 
  "info"
  "buttons"
}

#record{
grid-area: info;
height: 300px


}

#buttons{
  grid-area: buttons;
}
#search{
  margin-bottom: 25px;
}

.critera{
  display: flex;
  flex-direction: column;
}

.formgroup{
  display: flex;
margin: 5px;
align-items: left;

}

#add{
  display: flex;
  justify-content: center;
}

.subRecords{
  display: flex;
  flex-wrap: wrap;

}

#subRecord{
  width: 400px;
  height: 400px
}